.canvas-container {
    margin: auto;
    display: flex;
    justify-content: center;
    position: relative;
}

canvas {
    border  : 1px solid black;
    background-image: url('/assets/images/background.png');
    background-position: center;
    background-size: cover;
}

img {
    display: none;
}